@{
    ViewData["Title"] = "Worker Entry";
}
<!-- Name: Arsalan Arif Radhu
     Student ID: 100813965
     Date 11 November 2021 
     Description: The index page having all the labels,textboxes and buttons etc
-->
@using System.Runtime.InteropServices
@model PieceWorkWorkers.Models.PieceworkWorkerModel

@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <!-- Controls related to the worker's first name'-->
    <div class="row">
        <div class="col-md-2 offset-2">
            <p>
                <!-- Using an HTML help method to create the label-->
                @Html.LabelFor(m => m.Name, new { @class = "control-label" })
            </p>
        </div>
        <div class="col-md-2">
            <p>
                <!-- Using an HTML help method to create the text box-->
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
            </p>
        </div>
        <div class="col-md-4">
            <p>
                <!-- Using an HTML help method to create space for validation message-->
                @Html.ValidationMessageFor(m => m.Name, string.Empty, new { @class = "text-danger" })
            </p>
        </div>

    </div>

    <!-- Controls related to the worker's last name'-->
    <div class="row">
        <div class="col-md-2 offset-2">
            <p>
                <!-- Using an HTML help method to create the label-->
                @Html.LabelFor(m => m.LastName, new { @class = "control-label" })
            </p>
        </div>
        <div class="col-md-2">
            <p>
                <!-- Using an HTML help method to create the text box-->
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
            </p>
        </div>
        <div class="col-md-4">
            <p>
                <!-- Using an HTML help method to create space for validation message-->
                @Html.ValidationMessageFor(m => m.LastName, string.Empty, new { @class = "text-danger" })
            </p>
        </div>

    </div>

    <!-- Controls related to the worker's number of messages-->
    <div class="row">
        <div class="col-md-2 offset-2">
            <p>
                <!-- Using an HTML help method to create the label-->
                @Html.LabelFor(m => m.Messages, new { @class = "control-label" })
            </p>
        </div>
        <div class="col-md-2">
            <p>
                <!-- Using an HTML help method to create the text box-->
                @Html.TextBoxFor(m => m.Messages, new { @class = "form-control" })
            </p>
        </div>
        <div class="col-md-4">
            <p>
                <!-- Using an HTML help method to create space for validation message-->
                @Html.ValidationMessageFor(m => m.Messages, string.Empty, new { @class = "text-danger" })
            </p>
        </div>

    </div>
    <div class="row">
        <div class="col-md-2 offset-2">
            <p>
                <!-- This is the submit button-->
                <input class="btn btn-primary" type="submit" name="Index" value="Calculate"/>
            </p>
        </div>
        <div class="col-md-4">
            <p>
                <!-- This is the clear button-->
                @Html.ActionLink("Clear", "Index", "Home", new {  @class = "btn btn-secondary", role ="button"})
            </p>
        </div>

    </div>
    @if (PieceworkWorkerModel.TotalWorkers != 0)
    {
        <!-- Controls for displaying totals and results-->
        <div class="row">
            <div class="col-md-4 offset-2">
                @if (PieceworkWorkerModel.Pay > 0M)
                {
                    <p>
                        This Worker's pay: @PieceworkWorkerModel.Pay.ToString("C")
                    </p>
                }

                <p>
                    <!-- Using an HTML help method to create the label-->
                    Total Workers: @PieceworkWorkerModel.TotalWorkers.ToString()
                </p>
                <p>
                    <!-- Using an HTML help method to create the label-->
                    Total Messages: @PieceworkWorkerModel.TotalMessages.ToString()
                </p>
                <p>
                    <!-- Using an HTML help method to create the label-->
                    Total Pay: @PieceworkWorkerModel.TotalPay.ToString("C")
                </p>
                <p>
                    <!-- Using an HTML help method to create the label-->
                    Average Pay: @PieceworkWorkerModel.AveragePay.ToString("C")
                </p>
            </div>

        </div>
    }
}
